@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');




body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	color:$primary_color;
	line-height: 1.6;

}

%transition{
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
%btn{
	font-size: 19px;
    letter-spacing: 1px;
    @include radius(30px);
    padding: 6px 25px;
    @extend %transition; 
}